{% extends 'AfsyBlackjackBundle::app.html.twig' %}

{% block main %}
    <div class="ui column grid">
        <h2 class="ui header">Blackjack</h2>
        <p>
            <a href="{{ path('game_start') }}" class="ui button hover">Start game</a>
        </p>
    </div>
{% endblock %}