<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <title>Blackjack - CQRS Sandbox PHP</title>

  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/semantic/packaged/css/semantic.css">
  <link rel="stylesheet" type="text/css" href="/bundles/afsyblackjack/css/playing_cards.css">
  <link rel="stylesheet" type="text/css" href="/bundles/afsyblackjack/css/main.css">

  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.address/1.6/jquery.address.js"></script>
  <script src="/semantic/packaged/javascript/semantic.js"></script>
</head>
<body class="ui">
    <div class="main">
        {% block main %}{% endblock main %}
    </div>
</body>
</html>